<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=states.country%>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    </head>
    <body>
        <%-include('./partials/navbar')%>
        <div class="container">
           <!--<h1 class="text-center">Welcome to <%=states.country%></h1>-->
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex justify-content-center">
                    <img class="" src="<%=states.countryInfo.flag%>">
                </div>
                <br>
                <h1 class="text-center" id="country"><%=states.country%></h1>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6">
                   
                        
                        <h2 class="text-center">Total Cases:</h2><h1 class="text-primary text-center"style="font-weight:bold;"> <%=states.cases%></h1>
                        <h4 class="text-primary text-center"style="font-weight:bold;"><%=states.todayCases%>+</h4>
                        <br>
                        <h2 class="text-center">Active:</h2><h1 class="text-warning text-center"style="font-weight:bold;"><%=states.active%></h1>
                        
                </div>
                <br>
                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6">
                    
                        <h2 class="text-center">Total Recovered:</h2><h1 class="text-center" style="font-weight:bold;color:rgb(44, 230, 44);"><%=states.recovered%></h1>
                        <h4 class="text-center" style="font-weight:bold;color:rgb(44, 230, 44);"><%=states.todayRecovered%>+</h4>
                        <br>
                        <h2 class="text-center">Total Deaths:</h2><h1 class="text-danger text-center" style="font-weight:bold;"><%=states.deaths%></h1>
                        <h4 class="text-center text-danger" style="font-weight:bold;"><%=states.todayDeaths%>+</h4>
                   
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container" id="canv">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="table-responsive">
                <h2 class="text-center">Today's Data</h2>
            <table class="table table-bordered">
                <thead>
                    <th>Total Cases</th>
                    <th>Today Cases</th>
                    <th>Total Recovered</th>
                    <th>Today Recovered</th>
                    <th>Total Deaths</th>
                    <th>Today Deaths</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Cases per Million</th>
                    <th>Deaths per Million</th>
                    <th>Tests Done</th>
                    <th>Test per Million</th>
                    <th>Population</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:rgb(0, 17, 255);font-weight:bold;"><%=states.cases%></td>
                        <td style="color:rgb(0,17,255);font-weight:bold;"><span style="color:rgb(0, 17, 255)">+</span><%=states.todayCases%></td>
                        <td style="color:rgb(30, 240, 30);font-weight: bold;"><%=states.recovered%></td>
                        <td style="color:rgb(30, 240, 30);font-weight:bold;"><span style="color:rgb(30, 240, 30)">+</span><%=states.todayRecovered%></td>
                        <td class="text-danger" style="font-weight:bold;"><%=states.deaths%></td>
                        <td class="text-danger" style="font-weight:bold;"><span style="color:red">+</span><%=states.todayDeaths%></td>
                        <td><%=states.active%></td>
                        <td><%=states.critical%></td>
                        <td><%=states.casesPerOneMillion%></td>
                        <td><%=states.deathsPerOneMillion%></td>
                        <td><%=states.tests%></td>
                        <td><%=states.testsPerOneMillion%></td>
                        <td><%=states.population%></td>
                    </tr>
                <tr>Updated: <%=new Date(states.updated)%></tr>
                </tbody>
            </table>
            <h2 class="text-center">Yesterday's Data</h2>
            <table class="table table-bordered">
                <thead>
                    <th>Total Cases</th>
                    <th>Yesterday's Cases</th>
                    <th>Total Recovered</th>
                    <th>Yesterday Recovered</th>
                    <th>Total Deaths</th>
                    <th>Yesterday Deaths</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Cases per Million</th>
                    <th>Deaths per Million</th>
                    <th>Tests Done</th>
                    <th>Test per Million</th>
                    <th>Population</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:rgb(0, 17, 255);font-weight: bold;"><%=yesterday.cases%></td>
                        <td style="color:rgb(0, 17, 255);font-weight: bold;"><span style="color:rgb(0, 17, 255)">+</span><%=yesterday.todayCases%></td>
                        <td style="color:rgb(30, 240, 30);font-weight: bold;"><%=yesterday.recovered%></td>
                        <td style="color:rgb(30, 240, 30);font-weight: bold;"><span style="color:rgb(30, 240, 30)">+</span><%=yesterday.todayRecovered%></td>
                        <td class="text-danger" style="font-weight: bold;"><%=yesterday.deaths%></td>
                        <td class="text-danger"style="font-weight: bold;"><span style="color:red">+</span><%=yesterday.todayDeaths%></td>
                        <td><%=yesterday.active%></td>
                        <td><%=yesterday.critical%></td>
                        <td><%=yesterday.casesPerOneMillion%></td>
                        <td><%=yesterday.deathsPerOneMillion%></td>
                        <td><%=yesterday.tests%></td>
                        <td><%=yesterday.testsPerOneMillion%></td>
                        <td><%=yesterday.population%></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        </div>
        <%-include('./partials/footer')%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="/Javascript/countryDetails.js"></script>
    </body>
</html>