<!DOCTYPE html>
<html>
    <head>
        <title>
            Country Wise 
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            /*body{
                background: url("https://m.economictimes.com/thumb/msid-74665367,width-1200,height-900,resizemode-4,imgsize-980841/from-the-trumpet-shaped-protrusion-at-the-centre-of-a-daffodil-or-narcissus-to-a-part-of-a-cornice-with-a-vertical-face-to-the-most-popular-shape-of-chandeliers-corona-has-long-been-an-acceptable-part-of-society-.jpg");
            }*/
        </style>
            <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
            <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
            <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
            <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    </head>
    <body>
        <%- include('./partials/navbar')%>
        <a href="/">Home</a>
            <div id="cluster-map"></div>
            <div class="container">
            <h1 class="text-center">Country Wise Covid Update</h1>
            <br>
            <input type="search" id="search" class="d-flex justify-content-center" placeholder="Search your country" onkeyup="search()">
            <br>
            <div class="row" id="find">
                <% for(let country of countries){%>
                <div class="col-lg-3 col-md-6 col-sm-12 select">
            <div class="card mt-3" style="max-height:430px">
                <img style="max-height:170px" src="<%=country.countryInfo.flag%>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center"><%=country.country%></h5>
                    <div class="card-text">
                        <p><strong>Total Cases : </strong><%=country.cases%></p>
                        <p><strong>Total Active : </strong><%=country.active%></p>
                        <p><strong>Total recovered : </strong><%=country.recovered%></p>
                        <p><strong>Total Deaths : </strong><%=country.deaths%></p>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                    <a href="/countryWise/<%=country.country%>" style="width:150px" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            </div>
        </div>
        <div id="notFound" hidden>
            <h1 style="text-align: center;">No Result Found</h1>
        </div>
        <script>
            //const d=0;
            function search()
            {
                let c=0;
                let notFound=document.getElementById('notFound');
                let filter=document.getElementById('search').value.toUpperCase();
                let cards=document.getElementsByClassName('select');
                for(let i=0;i<cards.length;i++)
                {
                    let title=cards[i].getElementsByClassName('card-title')[0];
                    if(title)
                    {
                        let text=title.innerHTML.toUpperCase();
                        if(text.indexOf(filter)>-1)
                        {
                        cards[i].hidden=false;
                    }
                    else 
                    {
                            c++;
                        cards[i].hidden=true;
                        }
                        
                    }
                    

                }
                if(c==cards.length)
                        {
                            
                            //let heading= document.createElement('h1');
                            //heading.innerHTML="No Result Found";
                            //head.appendChild(heading);
                            notFound.hidden=false;
                        }
                        else
                        notFound.hidden=true;
            }
        </script>
        <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoiZ29vZGRheTIzNDU5IiwiYSI6ImNrbXFnb2l0ajBxNnEybnQ5M3p1YXBjZTQifQ.35ze5PJXpYxn2wTBx0m0nw';
                var map = new mapboxgl.Map({
                container: 'cluster-map', // container ID
                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                center: [-74.5, 40], // starting position [lng, lat]
                zoom: 9 // starting zoom
                });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>