<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=states.country%>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    </head>
    <body>
        <%-include('./partials/navbar')%>
        <div class="container">
           <!--<h1 class="text-center">Welcome to <%=states.country%></h1>-->
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex justify-content-center">
                    <img class="" src="<%=states.countryInfo.flag%>">
                </div>
                <br>
                <h1 class="text-center" id="country"><%=states.country%></h1>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6">
                   
                        
                        <h2 class="text-center">Total Cases:</h2><h1 class="text-primary text-center"style="font-weight:bold;"> <%=states.cases%></h1>
                        <br>
                        <h2 class="text-center">Active:</h2><h1 class="text-warning text-center"style="font-weight:bold;"><%=states.active%></h1>
                        
                </div>
                <br>
                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-6">
                    
                        <h2 class="text-center">Total Recovered:</h2><h1 class="text-center" style="font-weight:bold;color:rgb(44, 230, 44);"><%=states.recovered%></h1>
                        <br>
                        <h2 class="text-center">Total Deaths:</h2><h1 class="text-danger text-center" style="font-weight:bold;"><%=states.deaths%></h1>
                   
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container" id="canv">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Total Cases</th>
                    <th>Today Cases</th>
                    <th>Total Recovered</th>
                    <th>Today Recovered</th>
                    <th>Total Deaths</th>
                    <th>Today Deaths</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Cases per Million</th>
                    <th>Deaths per Million</th>
                    <th>Tests Done</th>
                    <th>Test per Million</th>
                    <th>Population</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:orange"><%=states.cases%></td>
                        <td style="color:orange"><span style="color:orange">+</span><%=states.todayCases%></td>
                        <td style="color:rgb(30, 240, 30)"><%=states.recovered%></td>
                        <td style="color:rgb(30, 240, 30)"S><span style="color:rgb(30, 240, 30)">+</span><%=states.todayRecovered%></td>
                        <td class="text-danger"><%=states.deaths%></td>
                        <td class="text-danger"><span style="color:red">+</span><%=states.todayDeaths%></td>
                        <td><%=states.active%></td>
                        <td><%=states.critical%></td>
                        <td><%=states.casesPerOneMillion%></td>
                        <td><%=states.deathsPerOneMillion%></td>
                        <td><%=states.tests%></td>
                        <td><%=states.testsPerOneMillion%></td>
                        <td><%=states.population%></td>
                    </tr>
                <tr>Updated: <%=new Date(states.updated)%></tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <th>Total Cases</th>
                    <th>Today Cases</th>
                    <th>Total Recovered</th>
                    <th>Today Recovered</th>
                    <th>Total Deaths</th>
                    <th>Today Deaths</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Cases per Million</th>
                    <th>Deaths per Million</th>
                    <th>Tests Done</th>
                    <th>Test per Million</th>
                    <th>Population</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:orange"><%=yesterday.cases%></td>
                        <td style="color:orange"><span style="color:orange">+</span><%=yesterday.todayCases%></td>
                        <td style="color:rgb(30, 240, 30)"><%=yesterday.recovered%></td>
                        <td style="color:rgb(30, 240, 30)"S><span style="color:rgb(30, 240, 30)">+</span><%=yesterday.todayRecovered%></td>
                        <td class="text-danger"><%=yesterday.deaths%></td>
                        <td class="text-danger"><span style="color:red">+</span><%=yesterday.todayDeaths%></td>
                        <td><%=yesterday.active%></td>
                        <td><%=yesterday.critical%></td>
                        <td><%=yesterday.casesPerOneMillion%></td>
                        <td><%=yesterday.deathsPerOneMillion%></td>
                        <td><%=yesterday.tests%></td>
                        <td><%=yesterday.testsPerOneMillion%></td>
                        <td><%=yesterday.population%></td>
                    </tr>
                    <tr><%=yesterday.updated%></tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <th>Total Cases</th>
                    <th>Today Cases</th>
                    <th>Total Recovered</th>
                    <th>Today Recovered</th>
                    <th>Total Deaths</th>
                    <th>Today Deaths</th>
                    <th>Active</th>
                    <th>Critical</th>
                    <th>Cases per Million</th>
                    <th>Deaths per Million</th>
                    <th>Tests Done</th>
                    <th>Test per Million</th>
                    <th>Population</th>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:orange"><%=twoDaysAgo.cases%></td>
                        <td style="color:orange"><span style="color:orange">+</span><%=twoDaysAgo.todayCases%></td>
                        <td style="color:rgb(30, 240, 30)"><%=twoDaysAgo.recovered%></td>
                        <td style="color:rgb(30, 240, 30)"S><span style="color:rgb(30, 240, 30)">+</span><%=twoDaysAgo.todayRecovered%></td>
                        <td class="text-danger"><%=twoDaysAgo.deaths%></td>
                        <td class="text-danger"><span style="color:red">+</span><%=twoDaysAgo.todayDeaths%></td>
                        <td><%=twoDaysAgo.active%></td>
                        <td><%=twoDaysAgo.critical%></td>
                        <td><%=twoDaysAgo.casesPerOneMillion%></td>
                        <td><%=twoDaysAgo.deathsPerOneMillion%></td>
                        <td><%=twoDaysAgo.tests%></td>
                        <td><%=twoDaysAgo.testsPerOneMillion%></td>
                        <td><%=twoDaysAgo.population%></td>
                    </tr>
                    <tr><%=twoDaysAgo.updated%></tr>
                </tbody>
            </table>
        </div>
        </div>
        <script>
                window.onload= function()
                {
                    /*async function check(country)
                               {
                                   let response;
                             
                                       response= await fetch(`https://api.covid19api.com/total/dayone/country/${country}`);
                                       let resp=await response.json();
                                       if(response.status==404 || resp.length==0)
                                       {
                                           response= await fetch(`https://api.covid19api.com/total/dayone/country/south-africa`);
                                           resp=await response.json();

                                       }
                                       return resp;
                                    }*/
                    async function func3()
                    {
                        /*let canvas1=document.getElementById('myChart');
                        let canvas2=document.getElementById('myChart6');
                        let canvas3=document.getElementById('myChart15');
                        let canvas4=document.getElementById('myChartAll');
                        canvas1.hidden=false;
                        canvas2.hidden=true;
                        canvas3.hidden=true;
                        canvas4.hidden=true;*/
                        const coun=document.getElementById('country').innerText;
                        const country=coun.toLowerCase();
                        //const response=await fetch(`https://api.covid19api.com/dayone/country/${country}/status/confirmed`);
                       // const response=await fetch(`https://api.covid19api.com/total/dayone/country/${country}/status/confirmed`)
                        const response=await fetch(`https://api.covid19api.com/total/dayone/country/${country}`)
                                   const resp=await response.json();
                                    //response.then(pp=>{console.log(pp)});
                                    //console.log(resp);
                                    //const resp=check(country);
                                    
                                       // document.getElementById('canv').hidden=true;
                                        const value=resp;
                                        let a=[];
                                        let b=[];
                                        let c=[];
                                        let k=value.length;
                                        let j=value.length;
                                        let l=value.length;
                                    //console.log(value[0].Country);
                                    for(let i=value.length-2;i>0;i--)
                                    {
                                        let cases=value[i].Confirmed-value[i-1].Confirmed;
                                        if(cases>0)
                                        {
                                            a[k--]=cases;
                                            b[j--]=(new Date(value[i].Date.substring(0,10)).toUTCString()).substring(4,16);
                                        }
                                       // c[l--]=value[i].dailydeceased;
                                    }
                                   // console.log(a);
                                    //console.log(b);
                               
                       var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: b,
                                        datasets: [{
                                            label: `Number of Cases in ${coun}`,
                                            data: a,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 2
                                        }],
                                      
                                    },
                                     
                                    options: {
                                        scales: {
                                            y: {
                                                
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                })
                            }
                            func3();
                            async function func4()
                    {
                        /*let canvas1=document.getElementById('myChart');
                        let canvas2=document.getElementById('myChart6');
                        let canvas3=document.getElementById('myChart15');
                        let canvas4=document.getElementById('myChartAll');
                        canvas1.hidden=false;
                        canvas2.hidden=true;
                        canvas3.hidden=true;
                        canvas4.hidden=true;*/
                        const coun=document.getElementById('country').innerText;
                        const country=coun.toLowerCase();
                        //const response=await fetch(`https://api.covid19api.com/dayone/country/${country}/status/confirmed`);
                       // const response=await fetch(`https://api.covid19api.com/total/dayone/country/${country}/status/confirmed`)
                       const response=await fetch(`https://api.covid19api.com/total/dayone/country/${country}`)
                                    const resp=await response.json();
                                    //response.then(pp=>{console.log(pp)});
                                   // console.log(resp);
                                    //const resp=check(country);
                                       // document.getElementById('canv').hidden=true;
                                        const value=resp;
                                        let a=[];
                                        let b=[];
                                        let c=[];
                                        let k=value.length;
                                        let j=value.length;
                                        let l=value.length;
                                    //console.log(value[0].Country);
                                    for(let i=value.length-2;i>0;i--)
                                    {
                                        let cases=value[i].Deaths-value[i-1].Deaths;
                                        if(cases>0)
                                        {
                                            a[k--]=cases;
                                            b[j--]=(new Date(value[i].Date.substring(0,10)).toUTCString()).substring(4,16);
                                        }
                                       // c[l--]=value[i].dailydeceased;
                                    }
                                   // console.log(a);
                                    //console.log(b);
                               
                       var ctx = document.getElementById('myChart2').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: b,
                                        datasets: [{
                                            label: `Number of Deaths in ${coun}`,
                                            data: a,
                                            backgroundColor: [
                                                
                                            ],
                                            borderColor: [
                                                
                                            ],
                                            borderWidth: 2
                                        }],
                                      
                                    },
                                     
                                    options: {
                                        scales: {
                                            y: {
                                                
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                })
                            }
                            func4();
                            };
            
        </script>
        <%-include('./partials/footer')%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>